/* Basic styling for calorie tracker */
input,
select,
button {
    margin: 2px;
    padding: 5px 15px;
}

input,
select {
    background-color: rgb(58, 58, 58);
    color: rgb(223, 221, 221);
}

input[type="text"],
input[type="number"],
select {
    border: 1px solid #666666;
    border-radius: 3px;
}

button {
    background-color: #505050;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #686868;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
